/* Importa a fonte Urbanist do Google Fonts */
/*2025*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

/*Fonte e fundo*/
body {
    font-family: Urbanist;
    background: #E87707;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2rem;
}

/* conteudo */
.caixa-central {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

/* formato do conteudo */
.card {
    position: relative;
    background: #F3F3F3;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20rem;
    max-height: 27rem;
    z-index: 10;
}

/*Orelhas */

.ears {
  position: absolute;
  top: -15.3%;
  transform: translateX(-50%);
  width: 24rem;
}

/* Rabo*/
.tail {
    position: absolute;
    bottom: 0%;
    left: 100%;
    width: 6.25rem;
}

/* Rabo em baixo */
.tail-bottom {
    visibility: hidden;
    width: 0;
}

/*titulo e subtitulo */

.card h2 {
    margin-top: 1rem;
    margin-bottom: 80px;
    color: #000000;
}

.card p {
    margin-top: -5rem;
    margin-bottom: 1rem;
    color: #818181;
    font-size: 0.9rem;
    font-weight: bolder;
}

/* formato das entradas de texto */
.card input {
    width: 100%;
    padding: 0.9rem;
    margin-bottom: 1.2rem;
    border: 1px solid #B8B8B8;
    background: #E6E6E6;
    border-radius: 8px;
    font-size: 0.9rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: -2%;
}

.card form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botão Entrar */

.card button {
    width: 110%;
    padding: 1rem;
    background: #f97316;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem;
}

.card button:hover {
    background-color: #EA580C;
}

/*link de login */
.card a {
    display: block;
    margin-top: 1.8rem;
    font-size: 0.85rem;
    color: #818181;
    text-decoration: none;
    font-weight: bolder;
}

.card a:hover {
    text-decoration: underline;
}

/* imagem de fundo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/*olho, mostar senha*/
.card i:nth-of-type(1) {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 8%;
    margin-top: 31.5%;
    color: #9a9999
}

.card i:nth-of-type(2) {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 8%;
    margin-top: 47%;
    color: #9a9999
}

/* RESPONSIVO */
@media screen and (max-width: 768px) {
    .colaborador img {
        width: 100%;
        flex-direction: column;
    }

    body {
        overflow: hidden;
        height: 100%;
        width: 95%;
        margin: auto;
    }

    .caixa-central {
        margin-top: 5rem;
    }

    .ears {
        top: -12.8%;   
        width: 20rem; 
    }

    .tail {
        visibility: hidden;
        width: 0;
    }

    .tail-bottom {
        visibility: visible;
        position: absolute;
        bottom: 0%;
        top: 100%;   
        transform: translateX(-50%);
        width: 6.25rem; 
    }

    .card i:nth-of-type(1) {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 8%;
    margin-top: 32.5%;
    color: #9a9999
    }

    .card i:nth-of-type(2) {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 8%;
    margin-top: 48.2%;
    color: #9a9999
}
}
